.footer form {
	margin-top:-15px;
}
.footer input:-webkit-autofill,
.footer input:-webkit-autofill:hover,
.footer input:-webkit-autofill:focus,
.footer input:-webkit-autofill:active {
 -webkit-transition-delay:9999s;
 -webkit-transition:color 9999s ease-out, background-color 9999s ease-out;
}

.footer .input {
	position: relative;
	z-index: 1;
	display: inline-block;
	margin: 1em;
	margin-left:0;
	margin-bottom:0;
	max-width: 1300px;
	width: calc(100% - 2em);
	vertical-align: top;
}

.footer .input__field {
	position: relative;
	display: block;
	float: right;
	padding: 0.8em;
	width: 60%;
	border: none;
	border-radius: 0;
	background: #f0f0f0;
	color: #000;
	-webkit-appearance: none; /* for box shadows to show on iOS */
}

.footer .input__field:focus {
	outline: none;
}

.footer .input__label {
	display: inline-block;
	float: right;
	padding: 0;
	width: 40%;
	color: #000;
	font-size: 100%;
	font-weight:normal;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.footer .input__label-content {
	position: relative;
	display: block;
	padding: 1.6em 0;
	width: 100%;
}

.footer .formular_button {
	display:inline-block;
	width:100%;
	font-family:'montserratregular';
	font-size:100%;
	color:#000;
	background-color:transparent;
	margin-top:15px;
	margin-left:auto;
	margin-right:auto;
	padding:10px 15px;
	border:3px solid #F2E3D4;
	border-radius:0;
}
.footer .formular_button:hover,
.footer .formular_button:focus,
.footer .formular_button:active,
.footer .formular_button.active {
	color:#000;
	background-color:#F2E3D4;
}
@media screen and (max-width: 1200px) {
	.footer .formular_button {
	padding:5px 15px;
	}
}
@media screen and (max-width: 991px) {
	.footer .formular_button {
	display:block;
	width:100%;
	text-align:center;
	}
}

/* Fumi */

.footer .input--fumi {
	width:100%;
	background: transparent;
	overflow: hidden;
	padding: 0;
	border-bottom: 1px solid #BBBBB7;
}

.footer .input__field--fumi {
	background: transparent;
	padding: 1.5em 1em 0.25em 0em;
	width: 100%;
	color: #000;
}

.footer .input__label--fumi {
	position: absolute;
	width: 100%;
	text-align: left;
	padding-left: 0;
	pointer-events: none;
}

.footer .icon--fumi {
	width: 2em;
	position: absolute;
	top: 0;
	left: 0;
	padding: 1em 0 0 0.5em;
}

.footer .input__label-content--fumi {
	padding: 1.7em 0;
	display: inline-block;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
}

.footer .input__label-content--fumi span {
	display: inline-block;
}

.footer .input__field--fumi:focus + .input__label--fumi .input__label-content--fumi,
.footer .input--filled .input__label-content--fumi {
	-webkit-animation: anim-fumi-1 0.3s forwards;
	animation: anim-fumi-1 0.3s forwards;
}

@-webkit-keyframes anim-fumi-1 {
	50% {
		-webkit-transform: translate3d(0, 3em, 0);
		transform: translate3d(0, 3em, 0);
	}
	51% {
		-webkit-transform: translate3d(0, -3em, 0) scale3d(0.85, 0.85, 1);
		transform: translate3d(0, -3em, 0) scale3d(0.85, 0.85, 1);
	}
	100% {
		color: #000;
		-webkit-transform: translate3d(0, -1.1em, 0) scale3d(0.85, 0.85, 1);
		transform: translate3d(0, -1.1em, 0) scale3d(0.85, 0.85, 1);
	}
}

@keyframes anim-fumi-1 {
	50% {
		-webkit-transform: translate3d(0, 3em, 0);
		transform: translate3d(0, 3em, 0);
	}
	51% {
		-webkit-transform: translate3d(0, -3em, 0) scale3d(0.85, 0.85, 1);
		transform: translate3d(0, -3em, 0) scale3d(0.85, 0.85, 1);
	}
	100% {
		color: #000;
		-webkit-transform: translate3d(0, -1.1em, 0) scale3d(0.85, 0.85, 1);
		transform: translate3d(0, -1.1em, 0) scale3d(0.85, 0.85, 1);
	}
}


.footer .input__field--fumi:focus + .input__label--fumi .icon--fumi,
.footer .input--filled .icon--fumi {
	-webkit-animation: anim-fumi-2 0.3s forwards;
	animation: anim-fumi-2 0.3s forwards;
}

@-webkit-keyframes anim-fumi-2 {
	50% {
		opacity: 1;
		-webkit-transform: translate3d(0, -3em, 0);
		transform: translate3d(0, -3em, 0);
	}
	50.25% {
		opacity: 0;
		-webkit-transform: translate3d(0, -3em, 0);
		transform: translate3d(0, -3em, 0);
	}
	50.75% {
		opacity: 0;
		-webkit-transform: translate3d(0, 3em, 0);
		transform: translate3d(0, 3em, 0);
	}
	51% {
		opacity: 1;
		-webkit-transform: translate3d(0, 3em, 0);
		transform: translate3d(0, 3em, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		color: #000;
	}
}

@keyframes anim-fumi-2 {
	50% {
		opacity: 1;
		-webkit-transform: translate3d(0, -3em, 0);
		transform: translate3d(0, -3em, 0);
	}
	50.25% {
		opacity: 0;
		-webkit-transform: translate3d(0, -3em, 0);
		transform: translate3d(0, -3em, 0);
	}
	50.75% {
		opacity: 0;
		-webkit-transform: translate3d(0, 3em, 0);
		transform: translate3d(0, 3em, 0);
	}
	51% {
		opacity: 1;
		-webkit-transform: translate3d(0, 3em, 0);
		transform: translate3d(0, 3em, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		color: #000;
	}
}


.footer input:-webkit-autofill,
.footer input:-webkit-autofill:hover,
.footer input:-webkit-autofill:focus,
.footer input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: black !important;
}

.footer .formular_captcha {
width: 100%; 
display: inline;
}
.footer .formular_captcha_obrazok {
width: 120px; 
padding-top: 4px;
height: 32px;
float: left;
}
.footer .formular_captcha_text {
width: 100%;
    padding: 5px;
    float: none;
    margin-top: 5px;
    border: 0px solid #ccc;
    border-bottom: 1px solid #bbbbb7;
}
.footer #captchaRefresh {
width: 32px; 
height: 32px;
color: #000;
margin-left: 5px;
float: right;
outline: none !important;
background-color: #fff; 
border: 3px solid #F2E3D4;
}
.footer #captchaRefresh:before {  
  content: "\f021";
  font-family:'FontAwesome',Arial,Tahoma,Verdana,Helvetica,sans-serif;
  color:#000; 
  font-size: 100%; 
  padding-left: 2px;        
} 
.footer #captchaRefresh:hover {
background-color: #F2E3D4;
}
.footer #captchaRefresh:hover:before {  
  color:#000; 
}

.footer input:-webkit-autofill,
.footer input:-webkit-autofill:hover,
.footer input:-webkit-autofill:focus,
.footer input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}
.footer input:-webkit-autofill {
    -webkit-text-fill-color: #fff;
}
.footer input:-webkit-autofill:focus {
    -webkit-text-fill-color: #fff;
}
@media screen and (max-width: 640px) {
.footer .formular_captcha_text {width: 38%;}
}
@media screen and (max-width: 320px) {
.footer .formular_captcha_text {width: 100%; float: none; margin-top: 5px;}
}  