.swiper-slide img {
    width: auto;
    height: auto;
    width: 100%;
    height: 100%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
    object-fit: cover;
    object-position: center;
  }
  
   .rslides_tabs {
    bottom: 0px;
  }
  .rslider_logo {
    z-index: 1;
  }
  
  .swiper-pagination-bullet {
    width: 50px !important;
    height: 3px !important;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    /* border: 2px solid rgba(255, 255, 255, .3); */
    background-color: rgba(255, 255, 255, 1) !important;
    background-clip: content-box !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
    transition: all .5s;
    cursor: pointer;
    border-radius: 0 !important;
    opacity: .2 !important;
    padding: 10px 5px;
    box-sizing: content-box;
  }
  
  @media screen and (max-width:991px) {
    .swiper-pagination-bullet {
      width: 50px !important;
      height: 3px !important;
      text-align: center;
      line-height: 20px;
      font-size: 12px;
      /* border: 2px solid rgba(255, 255, 255, .3); */
      background-color: rgba(255, 255, 255, 1) !important;
      background-clip: content-box !important;
      margin-left: 10px !important;
      margin-right: 10px !important;
      transition: all .5s;
      cursor: pointer;
      border-radius: 0 !important;
      opacity: .2 !important;
      padding: 10px 5px;
      box-sizing: content-box;
    }
  }
  .swiper-pagination-bullet:hover {
    background-color:rgba(255, 255, 255, 1) !important;
    opacity: .6 !important;
  }
  
  .swiper-pagination-bullet-active {
    background-color: rgba(255, 255, 255, 1) !important;
    opacity: 1 !important;
  }
  
  .swiper-button-prev::after, .swiper-container-rtl .swiper-button-next::after {
    margin-left: -.1em;
    cursor: pointer;
  }
  
  .swiper-button-next::after, .swiper-container-rtl .swiper-button-prev::after {
    margin-left: .1em;
    cursor: pointer;
  }
  
  a:hover, a:focus {
    text-decoration: none;
  }
  #home_grid {
      display: grid;
    width: 1170px;
    height: 820px;
    margin: auto;
      grid-template-columns: repeat(4, 25fr);
      grid-template-rows: repeat(3, minmax(0, 33fr));
    grid-gap: 1rem;
    grid-template-areas: 
    'i1 i2 i3 i3'
    'i1 i4 i5 i6'
    'i7 i7 i5 i6'
    ;
  }
  #home_grid  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position:relative;
  }
  @media screen and (max-width: 1600px) {
    #home_grid {
      width: 1000px;
    }
  }
  @media screen and (max-width: 1350px) {
    #home_grid {
      width: 970px;
    }
  }
  
  @media screen and (max-width: 1200px) {
    #home_grid {
      width: 700px;
      height: 580px;
    }
  }
  @media screen and (max-width: 770px) {
    #home_grid {
      display: grid;
      width: 95%;
      height: auto;
      margin: auto;
      grid-template-columns: 100%;
      grid-auto-rows: auto;
      grid-gap: 1rem;
      grid-template-areas: 
      'i1'
      'i2'
      'i3'
      'i4'
      'i5'
      'i6'
      'i7'
      ;
    }
  }
  
  .video_grid {
    display: grid;
    width: 100%;
    margin: auto;
      grid-template-columns: repeat(2, minmax(200px, 1fr));
      grid-auto-rows: auto;
    grid-gap: 1rem;
    margin-bottom: 35px;
  }
  .vid_alter {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  
  .video_grid::after {
    content: none;
  }
  
  @media screen and (max-width:1191px) { 
    .video_grid {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
  }
  @media screen and (max-width:350px) { 
    .video_grid {
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
  }
  
  .video_grid .vid > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .row::before {
    content: none;
  }
  .youtube::before {
    background: url('../../images/youtube');
    transform: scale(0.22);
  }
  .vimeo::before {
    background: url('../../images/vimeo');
    transform: scale(0.45);
  }
  .vid::before {
        background-position-x: 0%;
        background-position-y: 0%;
        background-repeat: repeat;
        background-size: auto;
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    /* transform: scale(0.2); */
    filter: grayscale(100%);
    transition: 0.5s;
        transition-property: all;
    transition-property: filter;
    opacity: 85%;
  }
  
  .vid:hover::before {
    filter: grayscale(0%);
  }
  .vid img {
    aspect-ratio: 16/9;
  }
  
  .image::before {
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  
  #item1 {grid-area: i1;}
  #item2 {grid-area: i2;}
  #item3 {grid-area: i3;}
  #item4 {grid-area: i4;}
  #item5 {grid-area: i5;}
  #item6 {grid-area: i6;}
  #item7 {grid-area: i7;}
  #home_grid > div  {
    width: 100%;
    height: 100%;
  }
  #home_grid > div > a {
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .bi02_title, .container_x3, .container_x4, .container_x5, footer, .footer_bottom  {
    font-size: 14px;
  }
  .vnutro p, .vnutro ul {
    font-size: 18px;
    line-height: 30px;
  }
  .vnutro > .e2_htmlcontent > ul {
    padding-left: 40px;
  }
  .footer_in > .row {
    padding-left: 15px;
  }figure
  .footer_bottom02 li {
    margin-left: 0 !important;
  }
  
  
    
  .vnutro h2, 
  .vnutro h1 {
    font-size: 240%;
    font-family: 'playfair_displayregular';
    color: #000;
    margin-top: 20px;
    margin-bottom: 15px;
  }
  .swiper-slide h2, 
  .swiper-slide h1 {
    font-size: 240%;
    font-family: 'playfair_displayregular';
    color: white;
    margin-top: 0;
    margin-bottom: 0;
  }

  .vnutro h1 {
    font-size: 280%;
  }
  .vnutro h2 {
    font-size: 240%;
  }
  
  .image_gallery {
      display: grid;
      width: auto;
      grid-template-columns: repeat(4, minmax(200px, 1fr));
      grid-auto-rows: auto;
    grid-gap: 1rem;
    margin: 1rem 0 1rem 0;
  }
  .gal_pro {
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  }
  .image_gallery.size20x {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)) !important;
  }
  .image_gallery.size30x {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)) !important;
  }
  .image_gallery.size40x {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)) !important;
  }
  .image_gallery.size50x {
    /* je to ta kisto ako size40x skus dat na 550 */
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr)) !important;
  }
  #video_grid.size50x a,
  #video_grid.size40x a,
  #video_grid.size30x a,
  #video_grid.size20x a,
  #video_grid a {
    height: 100% !important;
  }
  
  .image_gallery  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  @media screen and (max-width:1380px) { 
      .image_gallery:not(.gal_pro):not(.size20x):not(.size30x):not(.size40x):not(.size50x), .image_gallery.alter {
          grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)) !important;
        }
  }
  
  @media screen and (max-width:650px) { 
    .image_gallery.size50x, .image_gallery.size40x, .image_gallery.size30x, .image_gallery.size20x {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)) !important;
    }
  }
  .hvr-underline-from-center::before {
    z-index: 1;
  }
  
  .image_gallery a img {
    transition: all .25s ease-in-out;
   /*  transform: scale(1); */
  }
  
  .gale a {
    overflow: hidden;
    height: 100%;
    width: 100%;
    display: inline-block;
  }
  /* .size30x a {
    height: 254px;
  }
  .size40x a {
    height: 304px;
  }
  .size50x a {
    height: auto;
  } */
  .gal_pro a {
    overflow: hidden;
    height: 100%;
    width: 100%;
  }
  .image_gallery figcaption {
    margin: .2em 0 0 0;
    text-align: center;
    font-weight: 900;
  }
  
  
  /* THEME SETTINGS */
  
  :root {
    /* --textovka: #143A85;
    --text-light: #fff;
    --text-dark:#000;
    --theme-light:#F2E3D4;
    --theme-dark: #9BA2D1; */
  
  
    /* --textovka: #00275b; zaloha originalu */
    --textovka: #9BA2D1;
    --text-light: #fff;
    --text-dark:#9BA2D1;
    /* --theme-light:#d0cece; */
    --theme-light: #fff;
    /* --theme-dark:#e7e7e7; */
    /* --theme-dark:#F2E3D4; */
    --theme-dark:white;
    --swiper-theme-color:#9BA2D1 !important ;
  }
  
  body {
    background-color: var(--theme-light);
  }
  
  .image_gallery .novinky_popis {
    position: relative;
    display: block;
    color: var(--text-light) !important;
    /* background-color: #9BA2D1; */
    padding: 5px 10px;
    /* "to left" / "to right" - affects initial color */
    background: linear-gradient(to left, var(--textovka) 50%,  var(--theme-dark) 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
    margin-bottom: auto;
    margin-top: -1px;
  }
  .image_gallery .novinky_popis > b {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    display: inline-block;
    text-overflow: ellipsis;
  }
  
  .image_gallery a:hover .novinky_popis {
   /*  color: var(--textovka) !important; */
    /* background-color: #F2E3D4; */
    background-position: left;
  }

  a.rslides_nav:hover {
    background: var(--textovka);
  }
  

  .header li a:hover {
    color: var(--textovka);
  }
  
  blockquote {
    padding: 25px 25px;
    font-style: italic;
    border-left: 7px solid #eee;
  }
  @media screen and (min-width:991px) {
    .navigation {
      opacity: 85%;
    }
  
  }
  
  .navigation a {
  
    background: linear-gradient(to left,  var(--theme-light) 50%,  var(--text-dark) 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
  }

  .footer_bottom a,
  .footer_bottom,
  .footer_bottom_alt a,
  .footer_bottom_alt {
      color: black;
  }

  .footer_bottom .row a,
  .footer_bottom_alt .row a {
      border-bottom: 1px solid #ffffff00;
  }

  .footer_bottom > .row > div:not(.footer_bottom02) a:hover,
  .footer_bottom_alt > .row > div:not(.footer_bottom02) a:hover{
      color: var(--textovka);
      border-bottom: 1px solid var(--textovka);
      text-decoration: none !important;
  }
  .footer_bottom a:hover,
  .footer_bottom_alt a:hover{
      color: var(--textovka);
  }
  

  .container_main_title h3 {
    color: var(--textovka);
  }
  
  .title_box::after {
    background-color: var(--textovka)
  }
  
  .footer .title_box::after {
    background-color: var(--textovka);
  }
  
  
  .container_x3, .container_x3::after, .container_x3::before {
    background-color: #9BA2D1;
  }
  
  .navigation a:hover, .navigation a.hi {
    color: var(--text-light);
    background-position: left;
  }
  
  .container_main_title h3 {
    color: var(--textovka);
  }
  
  .title_box::after {
    background-color: var(--textovka);
  }
  
  .footer_bottom {
    border-top: unset ;
  }
  .footer_bottom a:hover {
    text-decoration: unset;
}
  
  .vnutro .formular_button:hover {
    color: var(--text-dark);
    /* background-color: var(--theme-light); */
  }
  .vnutro .formular_button {
    border: 0px var(--text-light) solid;
    /* background-color: var(--theme-dark); */
    color: var(--text-light);
  
  }
  
  .vnutro ul {
    list-style-type: inherit;
    margin-left: 30px;
  }
  
  
  .header {
    background: var(--theme-light);
  }
  
  .navigation .navbar-default .navbar-toggle .icon-bar {
    background-color: var(--text-dark) !important;
  }
  
  .navigation .navbar-default .navbar-toggle:hover .icon-bar {
    background-color: var(--theme-light) !important;
  }
  
  .footer .formular_button:hover, .footer .formular_button:focus, .footer .formular_button:active, .footer .formular_button.active {
    color: var(--text-light);
    background-color: var(--text-dark);
  }
  
  .footer .formular_button {
    color: #000;
    border: 3px solid var(--text-dark);
  }
  
  
  .navigation .navbar-default .navbar-toggle {
    border-color: #000;
    margin-top: -39px;
    transition: all .5s ease-in-out;
  }
  .navigation .navbar-default .navbar-toggle:hover, .navigation .navbar-default .navbar-toggle:focus {
    background-color: #000;
  }
  
  @media screen and (max-width:1365px) { 
    .swiper-button-next::after, .swiper-button-prev::after {
      font-size: 32px !important;
    }
  }
  
  @media screen and (max-width:1200px) { 
    .swiper-button-next::after, .swiper-button-prev::after {
      font-size: 25px !important;
    }
  }
  
  @media screen and (max-width:760px) { 
    .swiper-button-next, .swiper-button-prev {
      display: none !important;
    }
  }
  
  a:hover {
    color: var(--textovka);
  }
  a.nav_next:hover {
    color: var(--textovka);
  }
  
  /* END THEME SETTINGS */
  
  
  @media screen and (max-width: 767px) {
    .rslider_wrapper_sml { position:relative; left:0; width:100%; height:60vh !important; margin-top:15px;	}
    
  }
  
  li > ul {
    list-style-type: circle !important;
  }
  
  input[type=number] {
    -moz-appearance: textfield;
  }
  
  input[type=number]::-webkit-inner-spin-button {
    display: none;
  }
  input[type=number]::-webkit-outer-spin-button,
  input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  .hvr-grow, .aluwin-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.25s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  #video_grid a:hover,
  #video_grid a:focus,
  #video_grid a:active,
  .gale .hvr-grow:hover,
  .gale .hvr-grow:focus,
  .gale .hvr-grow:active,
  .gal_pro .hvr-grow:focus img,
  .gal_pro .hvr-grow:active img,
  .gal_pro .hvr-grow:hover img {
    -webkit-transform: scale(1.05) !important;
    transform: scale(1.05) !important;
  }
  
  .vnutro a:hover img {
    transform: none;
  }
  
  .pod_swiper .swiper-wrapper, .pod_swiper .swiper-slide  {
  /*   height: 50vh;
    min-height: 200px;
    max-height: 400px; */
    width: 100%;
  }
  
  
  
  .pod_swiper {
    overflow:hidden ;
    margin: 35px 0 35px 0;
    /* aspect-ratio: 1140/500; */
    aspect-ratio: 1140/500;
    position:relative;
  }
  @media screen and (max-width: 750px) {
    .pod_swiper {
      width:100vw;
      position: relative;
      left: -15px;
      aspect-ratio: 646/431;
    }
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    background-size: cover;
    background-position: center;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    object-fit: cover;
    object-position: center;
    /* opacity: 1 !important; */
  }
  
  .swiper-pagination-progressbar {
    position: relative !important;
  }
  
  .img-responsive {
    max-width: none;
  }
  
  .main_logo {
    width: 600px;
  }
  .main_logo > a {
    display: inline-grid;
    height: 50px;
    grid-template-rows: 100%;
    margin-top: 1%;
    /* grid-template-columns: 70px auto; */
    /* padding: 5px 0 5px 0; */
  }
  .main_logo > a > div {
    height: 100%;
    padding: 0;
    margin: 2.5px 0 0 15px;
    font-family: 'playfair_displayregular',"Times New Roman",Georgia,Verdana,Helvetica,serif;
    white-space: nowrap;
    /* width: 40vw; */
    overflow: hidden;
    word-wrap: normal;
    word-break: keep-all;
  }
  
  .main_logo img {
    position: unset;
    top: 12px;
    left: 10px;
    width: auto;
    height: 100%;
    z-index: 1500;
    /* padding: 5px 0 5px 0; */
    object-fit: contain;
    object-position: bottom;
  }
  header > .row {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }
  
  header > .row > .col-md-9 {
    width:100%;
    white-space: nowrap;
    flex: 5;
  }
  
  .header ul {
    right:45px;
  }
  
  .rslides_tabs a {
    letter-spacing: 1px;
    position: unset;
    display: unset;
    width: auto;
    height: auto;
    background-color: unset;
    margin-left: auto;
    margin-right: auto;
    border: unset;
    z-index: 100;
    color: #FFF;
    transition: .25s all ease-in-out;
    height: min-content;
  }
  
  @media screen and (max-width: 1000px) {
    .rslides_tabs a {
      letter-spacing: -0.5px;
    }
  }
  
  .rslider_content {
    z-index: 999;
    /* bottom:65px */
  }
  
  a[href^="javascript"] {
    cursor: default;
  }
  
  .footer_bottom03 li {
    margin-left: 0 !important;
  }
  
  .footer_bottom > .row {
    display: grid;
    margin: auto !important;
    grid-template-columns: repeat(3, 33.33%);
    grid-template-rows: auto;
    width: 1170px;
  }
  
  .footer_bottom01 {
    list-style-type: none;
  }
  .footer_bottom_alt > .row {
    display: grid;
    margin: auto !important;
    grid-template-columns: repeat(3, 33.33%);
    grid-template-rows: auto;
    width: 100%;
    padding: 0 30px 0 0;
  }
  .footer_bottom_alt{
    width: 1170px;
    margin: auto;
  }
  .footer_bottom02 ul {
   margin-top: 1em;
  }
  /* footer {
    margin: 90px auto auto auto !important;
  } */
  
  .footer_bottom {
    width: 100%;
    margin: auto;
  }
  
  @media screen and (max-width:1600px) {
     footer .container, .footer_bottom > .row {
      padding-left: 100px;
      padding-right: 100px;
    }
    .footer_bottom_alt > .row {
      width: 100%;
      padding: 0 200px 0 0;
    }
  
  }
  
  @media screen and (max-width:1366px) {
    .footer_bottom_alt > .row {
     
      padding: 0 230px 0 0;
    }
  }
  
  @media screen and (max-width:991px) {
    .footer_bottom_alt > .row, .footer_bottom > .row {
      grid-template-columns: 100%;
    }
    .footer_bottom_alt, .footer_bottom {
      width: 100%;
    }
    .footer_bottom, .footer_bottom03, .footer_bottom_alt {
      text-align: center !important;
    }
    .footer_bottom_alt  .col-sm-6, .footer_bottom .col-sm-6 {
      width: 100% !important;
    }
  }
  
  @media screen and (max-width:1200px) {
    .container {
      padding-left: 130px !important;
      padding-right: 130px !important;
    }
    .footer_bottom > .row {
      padding-left: 125px;
      padding-right: 125px;
    }
    .footer_bottom > .row {
      width: 970px;
    }
    .footer_bottom_alt > .row {
      padding: 0 460px 0 0;
    }
  }
  @media screen and (max-width: 991px) {
    .container {
      padding-left: 15px !important;
      padding-right: 15px !important;
    }
    .footer_bottom > .row {
      width: 100%;
      padding-left: 0px;
      padding-right: 0px;
    }
    .footer_bottom01, .footer_bottom02 > ul {
      margin-bottom: 15px;
    }
    .footer_bottom_alt > .row {
      padding: 0;
    }
  }
  
  
  .rslider_content_in {
    background-color: rgba(0,0,0,.6);
    line-height: 55px;
  }
  .vnutro > .e2_htmlcontent {
    margin: 0 0 1em 0;
  }
  .current_page {
    color: rgba(89, 89, 89, .8);
  }
  
  html {
    overflow-x: hidden;
  }
  
  
  /* obrazky v text eloolik */
  
  
  
  .align_right {
    margin: .5em 0 .5em .5em;

    float: right;
  }
  .align_left {
    margin: .5em .5em .5em 0;
    float: left;
  }
   p > img, figure[class^='align'] > img {
    max-width: 50%;
    margin: 1%;
    margin: auto;
  } 
  p > img:first {
    margin: 0 .5em .5em 0;
  }
  figure[class^='align'] > figcaption {
    text-align: center;
  }
  .align_right,
  .align_left {
    width: 50%; 
    margin: auto;
  }
  
  .row p {
    overflow: auto;
  }
  
  @media screen and (max-width: 768px) {
    .align_right,
    .align_left,
    p img {
      width: 100%;
      float: none;
      margin: unset;
    }
    .row p {
      overflow: hidden;
    }
  }
  
  .vp-center, .player {
    background-color: black !important;
  }
  
  .gallery.row::after {
    content: "";
    display: none;
  }
  
  
  .row p::before {
    clear: both;
  }
  
  /* #canvas1 {
    left: 50%;
    width: 30%;
  }
  @media screen and (max-width: 991px){
    #canvas1 {
      left: 0;
      width: 100%;
      height: 300px;
    } 
  } */
  
  .vnutro ul li {
    margin-left: 0;
  }
  .grid-test {
    display: grid;
    grid-template-columns: min-content auto;
  }
  .grid-test > div {
    display: grid;
    grid-template-columns: auto max-content;
    width: 50%;
  }
  .grid-test > div > span:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  @media screen and (max-width: 1200px){
    .grid-test > div {
      width: 100%;
    }
  }
  
  .fa-file-pdf-o {
    margin: 0 .2em 0 0;
  }
  
  
  /*  oprava 22.10.2021 slider ako na tarasole ?asik*/
  .rslider_content_in {
    font-size: 180% !important;
      padding: 10px 25px;
  }

  
  .rslides_tabs a:hover {
    color: var(--textovka)
    /* color: #999999; */
  }
  
  @media screen and (max-width:1000px) { 
    .rslider_content_in {
     
      line-height: 25px !important;
    }
  }
  li::marker {
    color: #9ba2d1;
  }
  
  @media screen and (max-width:991px) {
    .footer_bottom {
      /* margin-top: 620px !important; */
    }
  }
  
  .image_gallery figure {
    /* aspect-ratio: 262.5/175.5; */
    aspect-ratio: 16/10;
  }
  .size40x figure {
    aspect-ratio: 570/380;
  }
  .size50x figure {
     aspect-ratio: 190/59; /* idk preco tu je tiaky sialeny spect ratio*/
    /* aspect-ratio: 16/9; */
  }
  
  .vnutro h1 span, .vnutro h2 span, .vnutro h3 span, .vnutro h4 span, .vnutro h5 span {
    font-family: inherit !important;
  }
  
  .vnutro .icon--fumi {
    top: 13px;
    left: 5px;
  }
  
  header > .row {
    display: flex;
  }
  
  .header li a {
  display: inherit !important;
  }

  .swiper-button-prev,
  .swiper-button-next {
    cursor: pointer !important;
  }

  .container_x4 {
    padding-bottom: unset;
  }
  

  @media screen and (max-width: 480px)  {
    footer div.title_box.box_margin3 > * {
      text-align: center !important;
    }
    footer div.col-md-5.footer_in > * {
      text-align: center !important;
    }
  }

   footer .title_box h1 {
    font-size: 380%;
  }

/* popup ked sa odosle formular */
#backg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3000;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
}

.popup {
  display: flex;
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%,-20%);
  z-index: 2;
  background: white;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;

  width: 90%;
  max-width: 350px;
  height: 250px;
}


.popup > .fa-window-close {
  margin: 10px 15px 0 0;
  align-self: end;
  font-size: 22px;
  cursor: pointer;
  transition: .25s all ease-in;
}
.popup > .fa-window-close:hover {
  color: red;
}
.popup > .fa-envelope {
  margin-top: 20px;
  font-size: 40px;
}
.popup  p {
  margin-top: 15px;
}

@keyframes example {
  0% {opacity: 1; display: block;}
  99% {opacity: 0; display: block;}
  100%{opacity: 0; display: none;}
}

/* The element to apply the animation to */
.fadeout {
  animation-name: example;
  animation-duration: .25s;
  animation-fill-mode: forwards;
}

.action {
/*   opacity: 80%; */
  position: absolute;
  border-radius: 5px;
  z-index: 999;
  right: 15px;
  top: 15px;
}
/*
novy velky action
.action {
  opacity: 95%;
  position: absolute;
  border-radius: 15px;
  z-index: 999;
  right: 0;
  bottom: 15%;
  margin: auto;
  left: 0;
  width: 150px;
  height: 50px;
  text-align: center;
}
.action span {
  padding: 0;
  display: inline-block;
  line-height: 50px;
  font-size: 2.5rem;
}
*/

.action span {
  padding: 10px;
}

.rslides video {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.html5_video {
/*   position: absolute;
  right: 0;
  left: 0;
  transform: translate(50%);
  top: 0;
  min-height: initial;
  height: 100%; */
  margin-top: 1rem;
}
.html5_video ul{
  height: 100%;
  width: 100%;
  display: flex;
}
.html5_video video {
  width: 100%;
}

.mosaic_gallery {
  display: grid;
  width: 100%;
  height: auto;
  grid-gap: 1rem;
  grid-auto-rows: 25%;
  aspect-ratio: 4/3;
}

.b4x4 {
  grid-template-rows: repeat(4, calc(25% - 1rem)) ;
  grid-template-columns: repeat(4, calc(25% - 1rem));
}
.b5x5 {
  grid-template-rows: repeat(5, calc(20% - 1rem)) ;
  grid-template-columns: repeat(5, calc(20% - 1rem));
}

@media screen and (max-width:990px) { 
  .mosaic_gallery {
    grid-gap: .4rem;    
  }
  .b4x4 {
    grid-template-rows: repeat(4, calc(25% - .4rem)) ;
    grid-template-columns: repeat(4, calc(25% - .4rem));
  }
  .b5x5 {
    grid-template-rows: repeat(5, calc(20% - .4rem)) ;
    grid-template-columns: repeat(5, calc(20% - .4rem));
  }
}

.mosaic_gallery img,
.mosaic_gallery a,
.mosaic_gallery figure,
.mosaic_gallery video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}


.footer_in {
  padding-top: 0px !important;
}
#canvas1 {
  /* right: unset;
  width: 50%;
  left: 48%;
  max-width: 950px;
  height: 100%; */
  right: unset;
  width: 610px;
  left: 48%;
  max-width: 950px;
  height: 100%;
  max-width: 37%;
}

@media screen and (max-width: 991px){
  #canvas1 {
    left: 0;
    width: 100%;
    height: auto;
    max-width: 100%;
  } 
  .rslider_content_in {
    font-size: 130% !important;
  }
}

.map_contact {
  right: 20px;
}

@media screen and (max-width: 991px){
  .content > .swiper-container-initialized {
    height: calc(100% - 50px);
    min-height: 550px;
  }
}

/* mobilny slider pre mobil */
.mobile {
  display: none;
}


/* action pre domov */ 
.action.home {
  position: unset;
  top: 100px;
  left: 25%;
  right:unset;
  display: flex;
  width: max-content;
  border: 50px;
  border-radius: 10px;
}

.posi {
  position: absolute;
  top: 100px;
  left: 15%;
  display: flex;
  flex-direction: column;
  z-index: 101;  
}
.vnutro .posi{
  bottom: 5%;
  top: unset;
  left: 5%;
  font-size: 35%;
}
.rslider_wrapper .posi {
/*   top: 100px; */
}
.headline {
  text-align: left;
  color: white;
  font-family: 'playfair_displayregular',"Times New Roman",Georgia,Verdana,Helvetica,serif;
}
.headline p {
  font-size: 1.5rem;
  /* font-size: 3.5vw; */
  margin: 0 0 20px;
}
.headline h1 {
  font-size: 5vw;
  padding: 25px 0;
}
.vnutro .headline h1 {
  padding: 5px 0;
}
.gradient-back {
  /* background-image: linear-gradient(to left, rgba(255,0,0,0), rgba(31, 63, 141,.65)); */
  background-image: linear-gradient(to top, rgba(255,0,0,0), rgba(0, 0, 0,.7));
  
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
}
.pod_swiper .gradient-back  {
    /* background-image: linear-gradient(to left, rgba(255,0,0,0), rgba(31, 63, 141,.65)); */
    background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(0, 0, 0,.7));
  
}

.swiper-container.pc,
.swiper-container.mobile {
  min-height: 750px;
}
.posi .button {
  margin: unset;
  width: max-content;
  background-color: var(--text-dark);
  border-radius: 5px;
}
.posi .button:hover {
  background-color: var(--theme-dark);
  color: var(--textovka);
}

@media screen and (max-width: 750px) {
  .headline h1 {
    font-size: 2.5rem;
    /* font-size: 6vw; */
    padding: 5px 0;
  }
  .headline p {
    font-size: 1.35rem;
    margin: 0 0 12px;
  }
  .vnutro .headline p {
    font-size: 0.8rem;
    margin: 0 0 12px;
  }
  .posi {
    top: 25px;
    left: 10%;
    margin: 0 10% 0 0;
  }
  .vnutro .posi {
    top: unset;
  }
}

@media screen and (min-width: 750px) {
  .vnutro .headline h1 {
    font-size: 3rem;
  }
  .vnutro .headline p {
    font-size: 1.35rem;
    margin: 0 0 12px;
  }
  .vnutro .headline p {
    font-size: 1.1rem;
    margin: 0 0 12px;
  }
  .vnutro .posi {
    top: 25px;
    left: 10%;
    margin: 0 10% 0 0;
  }
  .vnutro .posi {
    top: unset;
  }
}

/* START PRODUKTY */

#product_gallery {
  display: flex;
  margin: 0 0 35px 0;
  /* padding: 30px 15px; */
  /* background-color: rgba(0, 0, 0, .05);  davame prec pozadie kedze uz sa da nastavit vsade cez repeat*/ 
}

.product_text {
  width: 50%;
}

.product_wrapper {
  width: 50%;
}

.product_main {
  display: grid;
  /* flex-wrap: wrap;
  justify-content: start; */
  grid-template-columns:repeat(auto-fill, minmax(100px, 1fr));
}

.product_main figure {
  /* display: inline-block; */
  margin: 7px;
}

.product_main figure:first-child {
  /* width: 100%; */
  grid-column: 1/ -1;
}

.product_main figure:not(:first-child) {
  /* height: 80px; */
}

.product_main #image_gallery a {
  padding: 7px;
}

#image_gallery a,
#image_gallery img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1200px) {
  #product_gallery {
    flex-direction: column-reverse !important;
  }
  .product_text {
    width: 100%;
  }
  
  #image_gallery {
    width: 100%;
  }
  .product_wrapper {
    width: 100%;
  }
}

.product_wrapper > div {
  width: 100%;
}

.product_wrapper .grid-test > div {
  width: 100% ; 
}


/* old code to be reformated */

.product_butoniky {
  display: flex;
  justify-content: space-between;

}

@media screen and (max-width: 550px) {
  .product_butoniky {
    flex-direction: column;
  }
  .product_text .button {
    margin-top:15px !important;
    width: 100% !important;
    text-align: center;
  }
  /* .vnutro h1 { */
  /*   font-size: 230%; */
  /* } */
}
.product_text .button {
  margin: unset;
  width: max-content;
  border: 2px solid grey;
  border-radius: 5px;
  white-space: nowrap;
  margin-right: 30px;
}
.product_text .button:hover {
  color: var(--text-light);
  background-color: var(--text-dark);
  border: 2px solid var(--text-dark);
}
.product_text .button.main {
  background-color: var(--text-dark);
  border: none;
  color: var(--text-light);
  border: 2px solid var(--text-dark);
}
.product_text .button.main:hover {
  color: black;
  background-color: var(--theme-light);
  border: 2px solid grey;
}
.product_ceny small {
  color: grey;
}
.product_ceny h1 {
  margin-top: 0;
}
.product_images img {
  border-radius: 5px;
}
.product_rest {
  display: flex;
}
.product_rest figure {
  height: auto;
  width: 100%;
}

#akcia_wrapper  {
  display: flex;
  /* margin: 0 10px; */
  flex-wrap: wrap;
}
.product_akica {
  display: block;
  width: auto;
  /* height: 35px; */
  padding: 10px 15px;
  margin: 7px;
  border-radius: 10px;
  display: flex;
}

.product_akica span{
  font-size: 16px;
}



/* END PRODUKTY */

.repeat_video,
.repeat_video video {
  width: 100%;
  height: 100%;
}
.repeat_video {
  margin: 35px 0;
}


a.button {
  padding: 10px 40px;
}

@media screen and (max-width:360px) {
  .rslider_wrapper {
   height:unset;
  }
}

/* @media screen and (max-width: 991px) {
  .navigation ul {
    text-align:right;
  }
} */


@media screen and (max-width:360px) {
  .vnutro .swiper-slide h1 {
    font-size: 2rem;
  }
  .vnutro .swiper-slide p {
    font-size: .6rem;
  }
}

@media screen and (max-width: 991px) {
  .rslider_wrapper {
    height: calc(100% - 62.6px);
  }
}

figcaption > h3 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.pswp__caption__center > h3,
.pswp__caption__center  {
  color: white !important;
}

.container_x1 .col-sm-6 {
  float: unset;
}

.container_x1 .row {
  display: flex;
}

@media (max-width: 768px) {
  .container_x1 .row {
    flex-direction: column;
  } 
}

/* unsetujeme aby sa mohli customizvat cez ckeditor */
.product_text a:link, 
.product_text a:visited {
  color: unset;
}

/* keby ze su niake problemy z pozadim zapni toto */
.background-repeat {
  padding: 10px 7px;
  margin: 7px 4px;
}