@charset "UTF-8";

@font-face {
    font-family: 'montserratbold';
    src: url('../fonts/montserrat-bold-webfont.eot');
    src: url('../fonts/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-bold-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-bold-webfont.woff') format('woff'),
         url('../fonts/montserrat-bold-webfont.ttf') format('truetype'),
         url('../fonts/montserrat-bold-webfont.svg#montserratbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratlight';
    src: url('../fonts/montserrat-light-webfont.eot');
    src: url('../fonts/montserrat-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-light-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-light-webfont.woff') format('woff'),
         url('../fonts/montserrat-light-webfont.ttf') format('truetype'),
         url('../fonts/montserrat-light-webfont.svg#montserratlight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratregular';
    src: url('../fonts/montserrat-regular-webfont.eot');
    src: url('../fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-regular-webfont.woff') format('woff'),
         url('../fonts/montserrat-regular-webfont.ttf') format('truetype'),
         url('../fonts/montserrat-regular-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'playfair_displayitalic';
    src: url('../fonts/playfairdisplay-italic-webfont.eot');
    src: url('../fonts/playfairdisplay-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/playfairdisplay-italic-webfont.woff2') format('woff2'),
         url('../fonts/playfairdisplay-italic-webfont.woff') format('woff'),
         url('../fonts/playfairdisplay-italic-webfont.ttf') format('truetype'),
         url('../fonts/playfairdisplay-italic-webfont.svg#playfair_displayitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'playfair_displayregular';
    src: url('../fonts/playfairdisplay-regular-webfont.eot');
    src: url('../fonts/playfairdisplay-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/playfairdisplay-regular-webfont.woff2') format('woff2'),
         url('../fonts/playfairdisplay-regular-webfont.woff') format('woff'),
         url('../fonts/playfairdisplay-regular-webfont.ttf') format('truetype'),
         url('../fonts/playfairdisplay-regular-webfont.svg#playfair_displayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sinkin_sans700_bold';
    src: url('../fonts/sinkinsans-700bold-webfont.eot');
    src: url('../fonts/sinkinsans-700bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sinkinsans-700bold-webfont.woff2') format('woff2'),
         url('../fonts/sinkinsans-700bold-webfont.woff') format('woff'),
         url('../fonts/sinkinsans-700bold-webfont.ttf') format('truetype'),
         url('../fonts/sinkinsans-700bold-webfont.svg#sinkin_sans700_bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

body { font-family:'montserratlight',Arial,Tahoma,Verdana,Helvetica,sans-serif; }
.bi02_title span, .container_x3 h2 small, .c_x5 { font-family:'montserratregular',Arial,Tahoma,Verdana,Helvetica,sans-serif; }
.box_imp01_in h3, .footer_bottom h3, .footer_in h3 { font-family:'montserratbold',Arial,Tahoma,Verdana,Helvetica,sans-serif; }
.title_box, .container_main_title h3, .navigation, .rslider_content, .container_x2 h2, .container_x3 h2, .container_x4 h2, .box_imp01_in a .hexagon span, .bi02_title span small, .c_x5 p small, .map_contact h3 { font-family:'playfair_displayregular',"Times New Roman",Georgia,Verdana,Helvetica,serif; }
.container_x4 h2 small { font-family:'playfair_displayitalic',"Times New Roman",Georgia,Verdana,Helvetica,serif; }
.rslider_logo { font-family:'sinkin_sans700_bold',Arial,Tahoma,Verdana,Helvetica,sans-serif; }

html {
	height: 100%;
}

body {
	height:100%;
	overflow-y:auto;
	overflow-x:hidden;
}
html {
	font-size:100%;
}
body {
	color:#595959;
	line-height:1.7em;
	-webkit-font-smoothing:antialiased;
	background-color:#FFF;
}
h1, h2, h3, h4 {
	line-height:100%;
	font-weight:normal;
	margin:0;
	padding:0;
}
a:link, a:visited {
	color:#595959;
}
a:hover {
	color:#143A85;
	text-decoration:none;
}
a.nav_next {
	position:relative;
	display:inline-block;
	font-size:90%;
	letter-spacing:2px;
	color:#000;
}
a.nav_next:after {
	position:absolute;
	top:50%;
	left:100%;
	content:"";
	width:12px;
	height:7px;
	background:url("../../images/img-arrow.png") right 50% no-repeat;
	-webkit-transform:translateY(-50%);
	transform:translateY(-50%);	
	margin-left:5px;
}
a.nav_next:hover:after {
	width:20px;
}
ul {
	list-style-type:none;
	margin:0;
	padding:0;
}

/* Base-styles ............................. */

.content {
	position:relative;
	height:100%;
	min-height:100%;
}
.box_margin {
	margin-bottom:30px;
}
.box_margin2 {
	margin-bottom:15px;
}
.box_margin3 {
	margin-bottom:60px;
}
.box_padding {
	padding-left:56px;
	padding-right:56px;
}

.title_box {
	position:relative;
	color:#000;
	padding-bottom:30px;
}
.title_box:after {
	position:absolute;
	bottom:0;
	left:0;
	content:"";
	width:100px;
	height:4px;
	background-color:#143A85;
}
.footer .title_box:after {
	background-color:#F2E3D4;
}
.title_box_wht {
	color:#FFF;
}
.title_box > * {
	position:relative;
	line-height:1.2em;
}
.title_box h1, .title_box h2 {
	font-size:380%;
}
.title_box small {
	font-size:100%;
	color:inherit;
}

.container_main_title h3 {
	font-size:500%;
	color:#143A85;
	line-height:1.2em;
	margin-top:60px;
}

/* Header ............................................................... */

.header { 
	position:absolute;
	top:0;
	left:0;
	width:100%;
	background-color:#FFF;
	padding-top:10px;
	padding-bottom:10px;
	z-index:100;
}
.header ul {
	text-align:right;
	margin-top:12px;
}
.header li {
	display:inline-block;
}
.header li a {
	font-size:180%;
	color:#000;
	margin-left:40px;
}
.header li a:hover {
	color:#143A85;
}

/* Main-Navigation ............................................................... */

.navigation {
	position:fixed;
	top:50%;
	left:0;
	-webkit-transform:translateY(-50%);
	transform:translateY(-50%);	
	z-index:1000;
}
.navigation_in {
	top:145px;
	-webkit-transform:translateY(0);
	transform:translateY(0);		
}
.navigation .navbar-collapse {
	padding-left:0;
	padding-right:0;
}
.navigation a {
	position:relative;
	display:inline-block;
	font-size:230%;
	color:#000;
	/* background:rgba(255,255,255,0.9); */
	margin-top:6px;
	margin-bottom:6px;
	padding:13px 25px 13px 56px;
	behavior:url(PIE.htc);
	zoom:1;
	-moz-box-shadow:0 0 8px rgba(0,0,0,0.2);
	-webkit-box-shadow:0 0 8px rgba(0,0,0,0.2);
	box-shadow:0 0 8px rgba(0,0,0,0.2);	
}
.navigation a:hover, .navigation a.hi {
	color:#FFF;
	/* background:#9BA2D1; */
}

/* Rslider ............................................................... */

.rslider_wrapper {
	position:relative;
	height:100%;
	min-height:500px;
	background-color:#000;
	overflow:hidden;
}
.rslider_wrapper_in {
	height:350px;
	min-height:initial;
}
.rslider_wrapper_in2 {
	height:500px;
	min-height:initial;
}
.rslides, .rslides_li, .rslider_img {
	height:inherit;
}
.rslider_img {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	background-position:center 50%;
	background-repeat:no-repeat;
	background-size:cover;
}

.rslider_content {
	position:absolute;
	bottom:85px;
	left:0;
	width:100%;
}
.rslider_content_in {
	display:inline-block;
	font-size:260%;
	color:#FFF;
	background-color:rgba(0,0,0,0.3);
	padding:25px 40px;
}

.rslides_tabs {
	position:absolute;
	bottom:25px;
	left:0;
	width:100%;
}
.rslides_tabs li {
	display:inline-block;
}
.rslides_tabs a {
	position:relative;
	display:inline-block;
	width:16px;
	height:16px;
	background-color:#FFF;
	margin-left:10px;
	margin-right:10px;
	border:2px solid #FFF;
	z-index:100;
}
.rslides_tabs a:hover {
	background-color:transparent;
}
.rslides_here a {
	background-color:transparent;
}

.rslider_logo {
	position:absolute;
	bottom:85px;
	right:40px;
}
.rslider_logo div {
	display:inline-block;
	width:110px;
	height:110px;
	font-size:170%;
	color:#FFF;
	letter-spacing:2px;
	line-height:1.2em;
	padding-top:10px;
	padding-left:15px;
	border:3px solid #FFF;
}

/* Rslider-Sml ......................... */

.rslider_wrapper_sml {
	position:absolute;
	top:0;
	right:90px;
	width:40%;
	width:calc(50% - 130px);
	min-height:initial;

	background-color:transparent;
	margin:0;
	overflow:hidden;
}
a.rslides_nav {
	position:absolute;
	top:50%;
	display:block;
	width:82px;
	height:82px;
	line-height:82px;
	font-size:350%;
	color:#000;
	background:#FFF;
	-webkit-transform:translateY(-50%);
	transform:translateY(-50%);	
	z-index:100;
}
a.rslides2_nav.prev {
	left:30px;
}
a.rslides2_nav.next {
	left:inherit;
	right:30px;
}
a.rslides_nav:hover {
	color:#FFF;
	background:#143A85;
}

/* Container_x1 ............................................................... */

.container_x1 {
	position:relative;
	margin-top:90px;
	margin-bottom:90px;
}

/* Container_x2 ............................................................... */

.container_x2 {
	position:relative;
}
.container_x2 h2 {
	position:relative;
	display:inline-block;
	font-size:320%;
	color:#000;
}
/*.container_x2 h2:before {
	position:absolute;
	top:50%;
	left:100%;
	content:"";
	width:100px;
	height:4px;
	background-color:#F2E3D4;
	margin-left:15px;
}
.container_x2 h2:after {
	position:absolute;
	top:50%;
	right:100%;
	content:"";
	width:100px;
	height:4px;
	background-color:#F2E3D4;
	margin-right:15px;
}*/

.bi02_content01 {
	height:550px;
}
.bi02_content02 {
	height:260px;
}
.bi02_content03 {
	height:240px;
}
.bi02_content04 {
	height:260px;
}
.bi02_content05 {
	height:530px;
}
.bi02_margin {
	margin-bottom:30px;
}
.bi02_content a {
	position:relative;
	display:block;
	width:100%;
	height:100%;
	background-position:center 50%;
	background-repeat:no-repeat;
	background-size:cover;
	overflow:hidden;
}
.bi02_content a:before {
	position:absolute;
	top:0;
	left:-100%;
	width:100%;
	height:100%;
	content:"";
	background:rgba(35,31,32,0.6);
	opacity:0;
}
.bi02_content a:hover:before {
	left:0;
	opacity:1;
}
.bi02_title {
	position:absolute;
	bottom:30px;
	width:195px;
	height:60px;
	color:#000;
	background-color:#FFF;
	behavior:url(PIE.htc);
	zoom:1;
	-moz-box-shadow:0 0 6px rgba(0,0,0,0.5);
	-webkit-box-shadow:0 0 6px rgba(0,0,0,0.5);
	box-shadow:0 0 6px rgba(0,0,0,0.5);
}
.bi02_title_left {
	left:30px;
}
.bi02_title_right {
	right:30px;
}
.bi02_title_center {
	left:50%;
	-webkit-transform:translateX(-50%);
	transform:translateX(-50%);
}
.bi02_title span {
	position:absolute;
	top:50%;
	left:0;
	display:inline-block;
	width:100%;
	-webkit-transform:translateY(-50%);
	transform:translateY(-50%);
}
.bi02_title span small {
	display:block;
	font-size:150%;
	color:inherit;
	text-transform:uppercase;
}

/* Container_x3 ............................................................... */

.container_x3 {
	position:relative;
	color:#000;
	background-color:#F2E3D4;
	padding-top:80px;
	padding-bottom:30px;
}
.container_x3:before {
	content:"";
	transform:skewY(-4deg) translateY(-100%); 
	-ms-transform:skewY(-4deg) translateY(-100%); 
	-webkit-transform:skewY(-4deg) translateY(-100%); 
	background:#F2E3D4;
	position:absolute;
	top:0;
	right:0;
	width:100%; 
	height:170px;
	display:block; 
	-webkit-transform-origin:top right;
	-ms-transform-origin:top right;
	transform-origin:top right;
	z-index:-1;
}
.container_x3:after {
	content:"";
	transform:skewY(2deg) translateY(100%); 
	-ms-transform:skewY(2deg) translateY(100%); 
	-webkit-transform:skewY(2deg) translateY(100%); 
	background:#F2E3D4;
	position:absolute;
	bottom:110px;
	left:0;
	width:100%; 
	height:110px;
	display:block; 
	-webkit-transform-origin:top left;
	-ms-transform-origin:top left;
	transform-origin:top left;
	z-index:-1;
}
.container_x3 h2 {
	position:relative;
 font-size:320%;
	padding-bottom:30px;
}
.container_x3 h2:after {
	position:absolute;
	bottom:0;
	left:50%;
	content:"";
	width:100px;
	height:4px;
	background-color:#FFF;
	-webkit-transform:translateX(-50%);
	transform:translateX(-50%);	
}
.container_x3 h2 small {
	display:block;
	font-size:35%;
	color:inherit;
	letter-spacing:3px;
	text-transform:uppercase;
	margin-top:15px;
}

.box_imp01_in {
	display:inline-block;
	width:20%;
	margin-right:-4px;
}
.box_imp01_in a {
	position:relative;
	display:block;
	color:#000;
}
.box_imp01 .hexagon_wrapper {
	position:relative;
	display:inline-block;
	width:138px;
	height:136px;
}
.box_imp01 .hexagon_wrapper:before {
	position:absolute;
	top:50%;
	left:100%;
	content:"";
	width:90px;
	height:4px;
	background:#FFF;
	margin-left:-20px;
}
.box_imp01 .hexagon_wrapper:after {
	position:absolute;
	top:50%;
	right:100%;
	content:"";
	width:90px;
	height:4px;
	background:#FFF;
	margin-right:-20px;
}
.box_imp01 .box_imp01_in:first-child .hexagon_wrapper:after {
	display:none;
}
.box_imp01 .box_imp01_in:last-child .hexagon_wrapper:before {
	display:none;
}
.box_imp01_in a .hexagon {
	position:relative;
	display:inline-block;
	width:100%;
	height:100%;
	background:url("../../images/bg_hexagon.png") center 50% no-repeat;
	background-size:cover;
	margin-bottom:30px;
	z-index:10;
}
.box_imp01_in a .hexagon:before {
	position:absolute;
	top:0;
	left:0;
	content:"";
	width:100%;
	height:100%;
	background:url("../../images/bg_hexagon_hover.png") center 50% no-repeat;
	background-size:cover;
	opacity:0;
}
.box_imp01_in a:hover .hexagon:before {
	opacity:1;
}
.box_imp01_in a .hexagon span {
	position:absolute;
	top:50%;
	left:50%;
	font-size:300%;
	-webkit-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);	
	z-index:100;
}
.box_imp01_content {
	padding:0 15px;
}
.box_imp01_in h3 {
	font-size:100%;
	text-transform:uppercase;
	line-height:1.7em;
}

/* Container_x4 ............................................................... */

.container_x4 {
	position:relative;
	padding-top:100px;
	padding-bottom:90px;
}
.container_x4 h2 {
	position:relative;
 font-size:320%;
	color:#000;
}
.container_x4 h2 small {
	font-size:100%;
	color:inherit;
}

.gallery a {
	position:relative;
	display:block;
}
.gallery a .gallery_nav {
	position:absolute;
	top:50%;
	left:50%;
	width:80px;
	height:80px;
	background:rgba(255,255,255,0.7);
	-webkit-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);	
}
.gallery a:hover .gallery_nav {
	background:#9BA2D1;
}
.gallery a .gallery_arrow {
	position:absolute;
	top:50%;
	left:50%;
	width:0;
	height:0;
	border-style:solid;
	border-width:10px 0 10px 18px;
	border-color:transparent transparent transparent #3D3D3D;
	-webkit-transform:translate(-45%,-45%);
	transform:translate(-45%,-45%);	
}
.gallery a:hover .gallery_arrow {
	border-color:transparent transparent transparent #FFF;	
}

/* Container_x5 ............................................................... */

.container_x5 {
	position:relative;
	background-color:#F2E3D4;
}
.c_x5 {
	position:relative;
	padding-top:30px;
	padding-bottom:30px;
}
.c_x5_left {
	color:#FFF;
}
.c_x5_left:before {
	position:absolute;
	top:0;
	right:0;
	content:"";
	width:9999px;
	height:100%;
	background:#9BA2D1;
	-ms-transform: skewX(-18deg); 
	-webkit-transform: skewX(-18deg);
	transform: skewX(-18deg);
}
.c_x5_right {
	color:#000;
}
.c_x5 > * {
	position:relative;
}
.c_x5 p {
	font-size:130%;
	text-transform:uppercase;
	letter-spacing:4px;
	margin-bottom:30px;
}
.c_x5 p small {
	display:block;
	font-size:270%;
	color:inherit;
	text-transform:none;
	letter-spacing:0;
	margin-top:15px;
}
a.button {
	display:inline-block;
	padding:10px 60px;
}
a.button01 {
	color:#FFF;
	border:2px solid #FFF;
}
a.button02 {
	color:#000;
	border:2px solid #000;
}
a.button span {
	position:relative;
	display:inline-block;
	letter-spacing:2px;
}
a.button span:after {
	position:absolute;
	top:50%;
	left:100%;
	content:"";
	width:12px;
	height:7px;
	-webkit-transform:translateY(-50%);
	transform:translateY(-50%);	
	margin-left:5px;
}
a.button01 span:after {
	background:url("../images/img-arrow-white.png") right 50% no-repeat;	
}
a.button02 span:after {
	background:url("../images/img-arrow.png") right 50% no-repeat;	
}
a.button:hover span:after {
	width:20px;
}

/* Footer ............................................................... */

.footer {
	position:relative;
	min-height:715px;
	margin-top:55px;
	margin-bottom:55px;
}
.footer_in {
	padding-top:65px;
}
.footer_in h3 {
	font-size:100%;
	color:#000;
	line-height:1.7em;
}
.footer_in p {
	margin-bottom:35px;
}
.footer_in tr > td:first-child {
	padding-right:15px;
}

/* Map ............................. */

#canvas1 {
	position:absolute;
	top:0;
	right:0;
	width:55%;
	height:715px;
}
#map {
	width:100%;
	height:100%;
}
.scrolloff {
	pointer-events:none;
}

.map_contact {
	position:absolute;
	top:50%;
	right:60px;
	display:inline-block;
	max-width:300px;
	background-color:#FFF;
	padding:45px 30px;
	-webkit-transform:translateY(-50%);
	transform:translateY(-50%);
	behavior:url(PIE.htc);
	zoom:1;
	-moz-box-shadow:0 0 15px rgba(0,0,0,0.3);
	-webkit-box-shadow:0 0 15px rgba(0,0,0,0.3);
	box-shadow:0 0 15px rgba(0,0,0,0.3);
}
.map_contact h3 {
	font-size:210%;
	color:#000;
}

/* Footer-Bottom ............................................................... */

.footer_bottom {
	position:relative;
	font-size:90%;
	color:#000;
	padding-top:40px;
	padding-bottom:40px;
	border-top:1px solid #F7F7F7;
}
.footer_bottom a {
	color:#000;
}
.footer_bottom a:hover {
	color:#143A85;
	text-decoration:underline;
}
.footer_bottom h3 {
	font-size:110%;
	letter-spacing:3px;
	margin-bottom:15px;
}
.footer_bottom02 li, .footer_bottom03 li {
	display:inline-block;
}
.footer_bottom02 li a {
	font-size:170%;
	margin:0 15px;
}

/* Effects ............................. */

a, a.nav_next:after, .gallery a .gallery_nav, .gallery a .gallery_arrow, .box_imp01_in a .hexagon:before, .bi02_content a:before, a.button span:after, .footer .formular_button  {
	-webkit-transition:all 300ms linear;
	-moz-transition:all 300ms linear;
	-o-transition:all 300ms linear;
	-ms-transition:all 300ms linear;
	transition:all 300ms linear;
}
::i-block-chrome, div {
	-webkit-transition:initial;
}

@-webkit-keyframes animatedBackground { 
	0% {
	    opacity: 0;
	    -webkit-animation-timing-function: ease-in;
}
	25% {
	    opacity: 1;
	    -webkit-transform: scale(1.05);
	    -webkit-animation-timing-function: ease-out;
}
	100% { opacity: 1 }
}
@-moz-keyframes animatedBackground { 
		0% {
	    opacity: 0;
	    -webkit-animation-timing-function: ease-in;
}
	25% {
	    opacity: 1;
	    -webkit-transform: scale(1.05);
	    -webkit-animation-timing-function: ease-out;
}
	100% { opacity: 1 }
}
@-o-keyframes animatedBackground { 
		0% {
	    opacity: 0;
	    -webkit-animation-timing-function: ease-in;
}
	25% {
	    opacity: 1;
	    -webkit-transform: scale(1.05);
	    -webkit-animation-timing-function: ease-out;
}
	100% { opacity: 1 }
}
@-ms-keyframes animatedBackground { 
		0% {
	    opacity: 0;
	    -webkit-animation-timing-function: ease-in;
}
	25% {
	    opacity: 1;
	    -webkit-transform: scale(1.05);
	    -webkit-animation-timing-function: ease-out;
}
	100% { opacity: 1 }
}
@keyframes animatedBackground { 
		0% {
	    opacity: 0;
	    -webkit-animation-timing-function: ease-in;
}
	25% {
	    opacity: 1;
	    -webkit-transform: scale(1.05);
	    -webkit-animation-timing-function: ease-out;
}
	100% { opacity: 1 }
}

.animate-area	{ 
	animation:animatedBackground 7s linear normal;
	-ms-animation:animatedBackground 7s linear normal;
	-moz-animation:animatedBackground 7s linear inormal;
	-webkit-animation:animatedBackground 7s linear normal;
}

/* RESPONSIVE STRUCTURE
--------------------------------------- */

@media screen and (max-width: 1600px) {
	.container { padding-left:100px; padding-right:100px;}
	.box_padding { padding-left:46px;	padding-right:46px; }
	.navigation a { font-size:160%;	margin-top:4px;	margin-bottom:4px;	padding:12px 12px 12px 46px; }
	.bi02_title {	width:160px; font-size:95%; }
	.footer_in h2 { font-size:340%;}
}

@media screen and (max-width: 1366px) {
	.container { padding-left:115px; padding-right:115px;}
	.box_margin { margin-bottom:15px; }
	.box_margin3 { margin-bottom:30px; }
	.box_padding { padding-left:30px;	padding-right:30px; }
	.title_box {	padding-bottom:15px; }
	.title_box h1, .title_box h2 {	font-size:270%; }
	.container_main_title h3 { font-size:350%;	margin-top:30px; }
	.header { padding-top:7px; padding-bottom:7px; }
	.header ul { margin-top:10px; }
	.header li a { font-size:160%;	margin-left:30px; }
	.main_logo img { max-width:170px; }
	.navigation_in { top:100px; }
	.navigation a { font-size:140%;	margin-top:4px;	margin-bottom:4px;	padding:8px 12px 8px 30px; }

	.rslider_wrapper_in { height:270px; }

	.rslider_content {	bottom:60px; }
	.rslider_content_in {	font-size:200%;	padding:15px 30px; }
	.rslides_tabs {	bottom:10px;	}
	.rslides_tabs a { width:12px; height:12px;	margin-left:5px; margin-right:5px; }
	.rslider_logo { bottom:60px; right:30px;	}
	.rslider_logo div { width:90px; height:90px; font-size:140%;	padding-top:10px; padding-left:15px; border-width:2px; }
	.rslider_wrapper_sml {	right:60px;	width:40%;	width:calc(50% - 90px); }
	a.rslides_nav {	width:62px; height:62px; line-height:62px; font-size:250%; }
	a.rslides2_nav.prev { left:15px; }
	a.rslides2_nav.next { left: initial; right:15px; }
	.container_x1 {	margin-top:60px; margin-bottom:60px; }
	.container_x2 h2 { font-size:270%; }
	.bi02_title {	width:150px; font-size:90%; }
	.container_x3 {	padding-top:60px; }
	.container_x3 h2 { font-size:270%; padding-bottom:15px; }
	.container_x4 {	padding-top:60px; padding-bottom:60px;	}
	.container_x4 h2 { font-size:270%;	}
	.c_x5 {	padding-top:20px; padding-bottom:20px; }
	.c_x5 p { font-size:115%; letter-spacing:3px; }
	.c_x5 p small {	font-size:230%;	margin-top:10px; }
	a.button {	padding:7px 40px; }
	.footer {	min-height:615px;	margin-top:30px; margin-bottom:30px; }
	.footer_in {	padding-top:35px; }
	.footer_in p { margin-bottom:30px; }
	#canvas1 { height:615px; }
	.map_contact {	right:30px;	max-width:260px; padding:30px 15px; }
	.map_contact h3 { font-size:180%; }
}
  
@media screen and (max-width: 1200px) {
	.container { padding-left:140px; padding-right:140px;}
	.box_padding { padding-left:15px;	padding-right:15px; }
	.title_box {	padding-bottom:10px; }
	.title_box h1, .title_box h2 {	font-size:220%; }
	.container_main_title h3 { font-size:270%;	margin-top:15px; }
	.navigation_in { top:70px; }
	.navigation a { font-size:125%;	margin-top:2px;	margin-bottom:2px;	padding:6px 10px 6px 15px; }
	.header { padding-top:5px; padding-bottom:5px; }
	.header ul { margin-top:9px; }
	.header li a { font-size:140%;	margin-left:15px; }
	.main_logo img { max-width:180px; }
	.navigation a { font-size:140%;	margin-top:4px;	margin-bottom:4px;	padding:8px 12px 8px 30px; }
	.main_logo img { max-width:150px; }
	.rslider_wrapper_in { height:200px; }

	.rslider_content {	bottom:45px; }
	.rslider_content_in {	font-size:180%;	padding:10px 15px; }
	.rslides_tabs {	bottom:5px;	}
	.rslides_tabs a { width:8px; height:8px;	margin-left:1px; margin-right:1px; }
	.rslider_logo { bottom:45px; right:15px;	}
	.rslider_logo div { width:80px; height:80px; font-size:130%;	padding-top:5px; padding-left:10px; }
	.rslider_wrapper_sml {	right:30px;	width:40%;	width:calc(50% - 45px); }
	a.rslides_nav {	width:42px; height:42px; line-height:42px; font-size:200%; }
	a.rslides1_nav { left:10px; }
	a.rslides2_nav {	right:10px; }
	.container_x1 {	margin-top:30px; margin-bottom:30px; }
	.container_x2 h2 { font-size:220%; }
	.container_x2 h2:before {	width:60px; height:3px;	margin-left:10px; }
	.container_x2 h2:after { width:60px; height:3px;	margin-right:10px; }
	.box_imp02_wrapper, .box_imp02 { margin-left:-5px; margin-right:-5px; }
	.box_imp02_wrapper_in, .box_imp02_in { padding-left:5px; padding-right:5px; }
	.bi02_content01 { height:400px; }
	.bi02_content02 { height:195px; }
	.bi02_content03 {	height:170px; }
	.bi02_content04 { height:195px; }
	.bi02_content05 { height:375px; }
	.bi02_margin { margin-bottom:10px; }
	.bi02_title { bottom:10px;	width:120px; height:46px; font-size:80%; line-height:1.2em; 	}
	.bi02_title_left { left:10px; }
	.bi02_title_right { right:10px; }
	.container_x3 h2 { font-size:220%; }
	.container_x3 h2 small {	font-size:40%;	letter-spacing:2px;	margin-top:10px; }
	.container_x4 {	padding-top:60px; padding-bottom:30px;	}
	.container_x4 h2 { font-size:220%;	}
	.gallery a .gallery_nav {	width:44px; height:44px; }
	.gallery a .gallery_arrow {	border-width:8px 0 8px 14px; }
	.box_imp01 .hexagon_wrapper:before, .box_imp01 .hexagon_wrapper:after { height:3px; }
	.box_imp01 .hexagon_wrapper {	width:110px; height:108px; }
	.box_imp01_in a .hexagon {	margin-bottom:15px; }
	.box_imp01_in a .hexagon span { font-size:220%; }
	.c_x5 {	padding-top:15px; padding-bottom:15px; }
	.c_x5 p { font-size:105%; letter-spacing:2px;	margin-bottom:15px; }
	.c_x5 p small {	font-size:200%;	margin-top:5px; }
	a.button {	padding:5px 30px; }
	a.button span { letter-spacing:0; }
	.footer {	min-height:550px;	margin-top:15px; margin-bottom:15px; }
	.footer_in {	padding-top:30px; }
	.footer_in p { margin-bottom:15px; }
	#canvas1 { height:550px; }
	.map_contact {	right:15px;	max-width:220px; padding:15px; }
	.map_contact h3 { font-size:150%; }
	.footer_bottom {	padding-top:30px; padding-bottom:30px; }
	.footer_bottom02 li a { font-size:150%; margin:0 10px; }
}

@media screen and (max-width: 991px) {
	.container { padding-left:15px; padding-right:15px;}
	.box_margin3 { margin-bottom:15px; }
	.header { position:relative; min-height:50px;	padding-top:0; padding-bottom:0; }
	.main_logo img { position:absolute; top:12px; left:10px; width:100px; z-index:1500; }
	.header ul { position:absolute; top:13px; right:75px; margin-top:0; }
	.header li a { position:relative; font-size:110%;	margin-left:3px; z-index:1500; }
	.navigation { position:absolute; top:47px; width:100%; -webkit-transform:translateY(0); transform:translateY(0);	 }
	.navigation ul { position:relative; width:100%; text-align:center; }
	.navigation li { width:100%; }
	.navigation a { display:block; font-size:130%; background:#FFF; margin-top:0; margin-bottom:0; padding:5px 15px; -moz-box-shadow:none; -webkit-box-shadow:none; box-shadow:none;	}
	.navigation .navbar-header { float: none; }
	.navigation .navbar-toggle { position:relative; display: block; z-index:300; }
	.navigation .navbar-collapse { max-height:inherit; overflow:hidden !important; border-top: 1px solid transparent; box-shadow: inset 0 1px 0 rgba(255,255,255,0); }
	.navigation .navbar-collapse.collapse:not(.in) { display: none!important; }
	.navigation .navbar-default { background-color:transparent !important; }
	.navigation .navbar-default .navbar-toggle { border-color:#000; margin-top:-39px; }
	.navigation .navbar-default .navbar-toggle:hover,
	.navigation .navbar-default .navbar-toggle:focus { background-color:#000; }
	.navigation .navbar-default .navbar-toggle .icon-bar { background-color:#F2E3D4; }
	.navigation .navbar-default .navbar-collapse,
	.navigation .navbar-default .navbar-form { border-color:#000; }
	.rslider_wrapper { height:500px; min-height:initial;	}

	.rslider_wrapper_in { height:150px !important; }

	.rslider_img { position:relative; }
	.rslider_content_in {	font-size:160%;	padding:7px 10px; }
	.rslider_logo { top:15px; right:15px;	}
	.rslider_wrapper_sml {	right:15px;	width:40%;	width:calc(50% - 30px); height:100%; }
	.container_x1 {	margin-top:15px; margin-bottom:15px; }
	.container_x3 {	padding-top:30px; }
	.container_x4 {	padding-top:30px; padding-bottom:15px;	}
	.footer { 	min-height:initial; }
	.footer_in {	padding-top:0; }
	#canvas1 { position:relative; top:0; left:0; width:100%;	height:auto; margin-top:15px;	}
	#map { height:220px; }
	.map_contact {	position:relative; top:0; left:0; width:100%; max-width:inherit;	text-align:center; padding:15px; -webkit-transform:translateY(0);	transform:translateY(0); -moz-box-shadow:none;
	-webkit-box-shadow:none; box-shadow:none; }
}
 
@media screen and (max-width: 767px) {
	.rslider_wrapper_sml { position:relative; left:0; width:100%; height:250px !important; margin-top:15px;	}
	.box_imp01_in {	width:33.333333333%; }


	.box_imp01 .hexagon_wrapper:before, .box_imp01 .hexagon_wrapper:after { display:none; }
	.bi02_content { height:170px !important; margin-bottom:10px; }	
	.box_imp02_wrapper .box_imp02_wrapper_in:first-child .box_imp02 { margin-bottom:0; }
	.bi02_title { left:50% !important; -webkit-transform:translateX(-50%); transform:translateX(-50%); }
	.bi02_title { width:160px; }
	.container_x3 {	padding-top:15px; }
	.footer_bottom {	text-align:center; padding-top:15px; padding-bottom:15px; }
	.footer_bottom02 { margin:15px 0; }	
	.footer_bottom03 { text-align:center; }
}

@media screen and (max-width: 480px) {
	.title_box h1, .title_box h2 {	font-size:180%; }
	.container_main_title h3 { font-size:220%;	margin-top:10px; }
	.rslider_wrapper { height:330px; }

	.rslider_logo div { width:60px; height:60px; font-size:105%;	padding-top:3px; padding-left:7px; }
	.gallery_in { width:100%; margin-bottom:15px; }
	.gallery_in:last-child { margin-bottom:0; }
	.c_x5 { width:100%; }
	.c_x5_left { background-color:#9BA2D1; }
	.c_x5_left:before { display:none; }
	.footer_in { text-align:center; }
	.footer_in table { margin-left:auto; margin-right:auto; }
	.footer_in_content { width:100%; }
	.footer .title_box:after { left:50%; -webkit-transform:translateX(-50%); transform:translateX(-50%);}
}

@media screen and (max-width: 360px) {
	.rslider_wrapper { height:270px; }

	.container_x2 h2 { font-size:180%; }
	.container_x3 h2 { font-size:180%; }
	.container_x4 h2 { font-size:180%;	}
	.box_imp01_in {	width:50%; }
}