.youtube::before {
  background: url('youtube.png');
  transform: scale(0.25);
}
.vimeo::before {
  background: url('vimeo.png');
  transform: scale(0.5);
}
.vid::before {
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: repeat;
  background-size: auto;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  /* transform: scale(0.2); */
  filter: grayscale(100%);
  transition: 0.5s;
	  transition-property: all;
  transition-property: filter;
  opacity: 85%;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.vid:hover::before {
  filter: grayscale(0%);
}
a:hover .vid::before {
  filter: grayscale(0%);
}

.vid {
  position: unset;
}
.vid > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* lightcase video buttons */

.lightcase__button {
  display: block;
  width: 50px;
  height: 60px;
  padding: 0;
  margin: 0;
      margin-right: 0px;
  overflow: hidden;
  cursor: pointer;
  background: none;
  border: 0;
  box-shadow: none;
  opacity: .85;
  -webkit-appearance: none;
  -webkit-touch-callout: none;
}
.lightcase__button--close {
  margin-right: 6px;
}

.lightcase__button--arrow--prev {
  right: auto;
  left: 0;
}
.lightcase__button--arrow {
  position: absolute;
  top: 0;
  width: 75px;
  height: 100px;
  top: 50%;
  margin-top: -50px;
}
.lightcase__container, .lightcase__img, .lightcase__button {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.lightcase__button--arrow--next {
  right: 0;
}
.lightcase__button--arrow--next .lightcase__icn {
  left: auto;
  right: 14px;
  transform: scale(-1,1);
}